/*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
  --theme: #8bc539;
  --accent: purple;
  --callout: yellow;
  --compliment: #d7a356;
  --dark: #0c0c0c;
  --light: #d0d0d0;
  --page-bg: #b1aea4;
}

.text-theme{
  color: var(--theme);
}
.text-accent{
  color: var(--accent);
}
.text-callout{
  color: var(--callout);
}
.text-compliment{
  color: var(--compliment);
}
.text-page{
  color: var(--page-bg);
}

.bg-theme{
  background-color: var(--theme);
}
.bg-accent{
  background-color: var(--accent);
}
.bg-callout{
  background-color: var(--callout);
}
.bg-secondary{
  background-color: var(--secondary);
}



* {
  font-family: 'Open Sans';
  font-weight: 600;
}

body {
  background-color: var(--page-bg);
}

section {
  overflow-x: hidden;
}


/* 
 * Hero Section
 */

.hero {
  min-height: 100vh;
  padding: 4em;
}

.hero img {
  max-width: 100%;
}

.hero hr {
  border-top: 15px solid #0F2C34;
  margin: 0;
  position: relative;
  top: -14px;
}

.hero .wrapper {
  padding-top: 8vh;
}

.hero .wrapper h1 {
  padding: 10px 30px;
}

.hero .wrapper h2 {
  font-weight: 300;
}

.hero .wrapper h3 {
  font-weight: 200;
  padding-bottom: 35px;
}

.hero .buttons {
  margin: 40px 0;
}

.hero .buttons a {
  background: var(--theme);
  border: 10px solid #0F2C34;
  border-radius: 40px;
  color: #0F2C34;
  display: inline;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 70px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero .buttons a:hover,
.hero .buttons a:focus {
  background-color: #0F2C34;
  color: #fff;
  transition: all 0.2s ease;
}

.hero .buttons a:not(:last-child) {
  margin-right: 10px;
}

/* 
 * About Section
 */

section {
  border-width: 15px 0;
  background-color: #fff;
  padding: 100px 0;
  position: relative;
}

section p {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.6em;
  letter-spacing: -.3px;
}

.lead *{
  font-size: 1.25rem;
  font-weight: 300;
}

section p span {
  font-weight: 700;
  text-transform: uppercase;
}

section ul li{
  list-style-type: none;;
}

section ul li{
  margin-bottom: 1.2em;
}

/*
 * Info Section
 */

.info .item {
  padding: 10px;
}

.info .item h3 {
  font-family: 'Montserrat';
  font-weight: 700;
}

.info .item p {
  font-weight: 300;
  color: var(--page-bg);
}

.info .item img {
  max-width: min(100%,250px);
}

/*
 * Sponsor Section
 */

.sponsor img{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: min(100%, 150px);
}


/*
 * FAQ Section
 */

.faq {
  background-color: #fff;
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.faq h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.faq .question h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
}

.faq .question hr {
  border-top: 8px solid #0F2C34;
  margin: 20px 0;
  width: 80px;
}

.faq .question p {
  font-size: 18px;
  line-height: 1.5em;
}

.faq img {
  margin-bottom: -2px;
  margin-top: 40px;
  width: 300px;
}

/*
 * Footer Section
 */

.footer {
  background-color: var(--dark);
  color: #fff;
  padding: 30px 0;
}

.footer img {
  max-width: 250px;
  margin-bottom: 15px;
}

@media(max-width: 768px) {
  .hero .buttons a {
    border-width: 8px;
    display: block;
    font-size: 20px;
    margin: 5px;
  }

  .hero img {
    width: 250px;
  }

  .hero hr {
    border-top-width: 8px;
    top: -8px;
  }
}