---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          {{ site.event.about.description | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="info bg-black text-theme">
  <div class="container">
    <div class="items row">
      {% for section in site.event.info.sections %}
      <div class="col-12 col-lg-6">
        <div class="item">
          <div class="text-center">
            <img src="{{ section.image }}" />
            <h3 class="my-2">{{ section.title }}</h3>
          </div>
          <p>{{ section.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="rules">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center">
        <h2>Participation Rules</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          {{ site.event.rules | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="agenda">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center">
        <h2>Agenda</h2>
      </div>
    </div>
    <div class="row">
      {% for block in site.event.agenda %}
      <div class="col-12 m-auto mb-3">
        <blockquote class="alert border rounded">
          <p class="mb-0 text-muted small">{{ block.time }}</p>
          <p class="lead mb-0"><b>{{ block.title }}</b></p>
          <hr class="my-1">
          <div class="mb-0 lead small text-muted">{{ block.description | markdownify }}</div>
        </blockquote>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="judging bg-black">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center text-theme">
        <h2>Judging Criteria</h2>
        <p>{{site.event.judging.subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row text-page">
      <div class="col-12">
        <div>
          {{ site.event.judging.description | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sponsors">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center">
        <h2>Sponsors</h2>
      </div>
    </div>

    <div class="row justify-content-around align-items-center">
      {% for sponsor in site.event.sponsors %}
      <div class="col-md-3 mb-3 col-8 m-auto">
        <div class="text-center">
          <a href="{{sponsor.url}}" target="_blank">
            <img class="img-fluid" src="{{ sponsor.image }}" title="{{sponsor.name}}" style="max-height: 200px;" />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="swag bg-black text-light">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center">
        <h2 class="text-theme">Grab Some Swag</h2>
        <p>{{site.event.swag_tag}}</p>
      </div>
    </div>

    <div class="row justify-content-around align-items-center">
      {% for swag in site.event.swag %}
      <div class="col-md-3 mb-3 col-8 m-auto">
        <div class="text-center">
          <img class="img-fluid rounded-circle" src="{{ swag.image }}" title="{{swag.name}}"
            style="max-height: 200px;" />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>



<section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-sm-offset-1">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>