---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.vue';
import Speakers from '../components/Speakers.vue';
import Foot from '../components/Foot.vue';
---

<Layout title="Speakers | Boise Code Camp 2026">
  <div class="bg-white">
    <Navbar client:load />
    <section class="container pt-5 mt-5">
      <Speakers client:load />
    </section>
    <Foot client:load />
  </div>
</Layout>
