<!DOCTYPE html>
<html>
{% include head.html %}

<body{% if page.custom_class %} class="{{ page.custom_class }}" {% endif %}>

  {{ content }}

  <section class="footer bg-black">
    <div class="container text-center text-light">
      <p class="mb-0">Hosted with 💖 by ®CodeWorks 2023 and <a href="https://forms.gle/nrS2s8Lp6rR9FzKz5"
          target="_blank" class="text-theme">Sponsors</a></p>
    </div>
  </section>


  {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  <script src="{{ '/js/app.js' | relative_url }}"></script>
  </body>

</html>